/* Images
   ========================================================================== */
.image_large {
  max-width: 1080px;
}

.image_medium {
  max-width: 1024px;
}

.image_small {
  max-width: 800px;
}
