 .image-caption {
  background-color: $jet;
  font-family: $lato;
  color: $white;
  position: absolute;
  z-index: 1;
  bottom: 5px;
  opacity: .8;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
