/* Typography
   ========================================================================== */
/**
* Set font and weight of heading.
*/
h1, h2, h3, h4, h5, h6 {
  font-family: $lora;
  font-weight: $bold;
}

/**
 * Add color scheme & states of buttons components.
 */
p {
  font-family: $lora;
  font-size: $medium;
  font-weight: $regular;
  line-height: 20px;
  color: $dim-gray;
}
